.rounded-bottom-right {
  border-bottom-right-radius: 50px;
}

.rounded-bottom-left {
  border-bottom-left-radius: 50px;
}

.rounded-top-right {
  border-top-right-radius: 50px;
}

.rounded-top-left {
  border-top-left-radius: 50px;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.opacity-1 {
  opacity: 1;
}

.radius-50-l {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.radius-50-r {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.fishtail {
  position: relative;
}
.fishtail-br {
  width: 50px;
  height: auto;
  position: absolute;
  right: 0px;
  top: -49px;
}

.fishtail-tr {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: -50px;
  right: 0px;
}

.fishtail-tl {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: -50px;
  left: 0px;
}

.fishtail-bl {
  width: 50px;
  height: auto;
  position: absolute;
  top: -50px;
  left: 0px;
}

.leaf-crop {
  border-top-left-radius: 80px;
}
