.spacer-50 {
  height: 50px;
}

.spacer-100 {
  height: 100px;
}

.rounded-hero {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.bg-primary {
  background-color: #3a7eab !important;
}

.bg-secondary {
  background-color: #1e1e1e !important;
}

.bg-dark {
  background-color: #161616 !important;
}
